// about section

.overlayImgContainer {
  // border: 2px solid red;
  position: relative;
  width: 100%;
}

.overlayImg {
  position: absolute;
  top: -55vh;
  right: 0px;
}

.circle {
  height: 50px;
  min-width: 50px;
  background-color: $yellow;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
  // display: inline-block;
  i {
    position: absolute;
    top: 10px;
    right: 5px;
    
  }
}

i.fa-users {
  color: $black;
}

i.fa-map-marker-alt {
  left: 14px;
  color: $black;
}

i.fa-sticky-note {
  left: 14px;
  color: $black;
}

i.fa-phone {
  left: 10px;
  color: $black;
}


h2 {
  font-family: $header-font;
  font-weight: 500;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: $white;
}

p {
  font-family: $body-font;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 1px;
  color: $white;
}

.aboutSectionContainer {
  background-color: $pine;
  height: 80vh;
  ul {
    padding-top: 13%;
  }
}

.aboutSection {
  display: flex;
  flex-wrap: wrap;
  // margin: 0 50px;
  // flex-direction: column;

  li {
    width: 50%;
    // margin: 20px;
    padding: 20px;
    list-style: none;
    display: flex;
  }
}

