@import "variables";

.employmentOps {
  background-color: $pine;
}

h4 {
  color: $yellow;
}

.commentsSection {
  background-color: $pine;
  // display: flex;
  // width: 40%;
}

.feature {
  background-color: $pine;
}
