.infoContainer {
  background-color: $pine;
}

i {
  color: $yellow;
}

.submitBtn {
  padding: 10px 10px;
  background-color: $yellow;
  color: $black;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 20px 0;
}