.foodSection {
  background-color: $almost-black;
  // display: flex;
}

.bestBurgers {
  display: flex;
  justify-content: space-between;
  
  @include tabletSize {
    flex-direction: column;
    align-items: center;
  }
  @include tabletSize2 {
    flex-direction: column;
    align-items: center;
  }

}

.bestBurgersTxt {
  width: 40%;
  padding: 6.3% 10% 6.3% 0;
  @include laptopSize {
    padding: 0 10% 4% 0;
    h2 {
      font-size: 3rem;
      margin-top: 2%;
    }
    p {
      font-size: 1.8rem;
    }
  }

  @include tabletSize {
    width: 80%;
  }

  @include tabletSize2 {
    width: 80%;
  }

 
}

.leftImgContainer {
  box-shadow: 20px 20px $yellow;
  width: 40%;
  position: relative;
  bottom: 40px;

  @include tabletSize {
    width: 80%;
  }

  @include tabletSize2 {
    width: 80%;
  }
}

.trySomething {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.trySomethingTxt {
  text-align: right;
  width: 40%;
  padding: 6.3% 0 6.3% 10%;
  @include laptopSize {
    padding: 0 10% 2% 0;
    h2 {
      font-size: 3rem;
      margin-top: 2%;
    }
    p {
      font-size: 1.8rem;
    }

    @include tabletSize {
      width: 80%;
      margin-top: 10%;
      text-align: left;
    }
  }

  @include tabletSize2 {
    width: 80%;
    padding-top: 8%;
    text-align: left;
  }
}

.rightImgContainer {
  box-shadow: -20px 20px $yellow;
  width: 40%;
  position: relative;
  top: 40px;

  @include tabletSize {
    width: 80%;
  }

  @include tabletSize2 {
    width: 80%;
  }
}

.yellowBtn {
  padding: 10px 10px;
  background-color: $yellow;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 20px 0;
}


