header {
  background-image: url(../../assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
  height: 90vh;

  @include laptopSize {
    height: 60vh
  }
  @include tabletSize {
    height: 40vh
  }
  @include phoneSize {
    height: 30vh
  }
}

h1 {
  color: $pine;
  font-family: $header-font;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
  // display: flex;
  // flex-direction: column;
  width: 10%;
  @include tabletSize {
    font-size: 4rem;
  }
  @include phoneSize {
    font-size: 2.5rem;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

h1 span {
  color: $almost-black;
  background-color: $white;
  padding: 5px 2px;
}

.headerNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  ul {
    display: flex;
    margin-top: 50px;
    li {
      list-style: none;
      padding: 15px 40px 15px 0;
      a {
        font-size: 1.8rem;
        font-family: $header-font;
        color: $white;
        text-decoration: none;

        border-bottom: 2px solid transparent;
        &:hover,
        &:focus {
          border-bottom: 2px solid $yellow;
        }
      }
    }
  }
}

nav {
  flex: 1 0 50%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  list-style: none;
}

footer {
  background-color: $black;
  text-align: center;
  p {
    font-size: 1.4rem;
  }
}

.blogHeader {
  background-image: url(../../assets/blog-header.jpg);
  background-position: right;
  background-size: fill;
  height: 73vh;
  h1 {
    margin-top: 7%;
  }
  @include laptopSize {
    height: 60vh
  }
  @include tabletSize {
    height: 40vh
  }
  @include phoneSize {
    height: 30vh
  }
}

.contactHeader {
  background-image: url(../../assets/contact-header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  h1 {
    width: 100%;
    margin-top: 10%;
  }
  @include laptopSize {
    height: 60vh
  }
  @include tabletSize {
    height: 40vh
  }
  @include phoneSize {
    height: 30vh
  }
}