header {
  background-image: url(../../assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
  height: 90vh;
}

h1 {
  color: $pine;
  font-family: $header-font;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
  // display: flex;
  // flex-direction: column;
  width: 10%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

h1 span {
  color: $almost-black;
  background-color: $white;
  padding: 5px 2px;
}

.headerNav {
  display: flex;
  flex-direction: column;
  height: 100%;
  ul {
    display: flex;
    li {
      list-style: none;
      a {
        font-size: 1.8rem;
        font-family: $header-font;
        color: $white;
        text-decoration: none;
        padding: 15px 40px;
      }
    }
  }
}

nav {
  flex: 1 0 50%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  list-style: none;
}

