.imgGallery {
  background-color: $almost-black;
  height: 60vh;
  @include tabletSize {
    height: auto;
  }
}

.imgGalleryContainer ul {
  display: flex;
  list-style: none;
  width: 100%;
  padding-top: 70px;
  @include tabletSize {
    padding-bottom: 10%;
  }
}

.imgGalleryContainer li {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}
