.natureSection {
  background-color: $pine;
  height: 53vh;
  
}

.natureSectionContainer {
  display: flex;
  padding-top: 4%;
}

.natureImgContainer {
  width: 22%;
  box-shadow: -20px 20px $yellow;
  position: relative;
  bottom: -25px;
}

.natureTxt {
  width: 70%;
  padding-left: 10%;
  padding-top: 1.3%;
}


