//header font
$header-font: 'Josefin Sans', sans-serif;
//body font
$body-font: 'Barlow', sans-serif;
//color palette
$yellow: #FFD300;
$white: #FFFF;
$pine: #2B331B;
$almost-black:#171B0E;
$black: #0F0F0F;