@import "setup";
@import "variables";
@import "mixins";
@import "headerFooter";
@import "aboutSection";
@import "foodSection";
@import "giftCardSection";
@import "natureSection";
@import "imgGallery";
@import "blogContent";
@import "contactContent";

img {
  width: 100%;
}

h2 {
  font-family: $header-font;
  font-size: 3.5rem;
}

h3 {
  font-family: $header-font;
  font-size: 3.5rem;
  color: $yellow;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-family: $body-font;
  font-size: 1.8rem;
  font-weight: bold;
  color: $white;
}

p{
  font-family: $body-font;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

