html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: url(../../assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

h1 {
  color: #2B331B;
  font-family: "Josefin Sans", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFF;
  width: 10%;
}

.titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 span {
  color: #171B0E;
  background-color: #FFFF;
  padding: 5px 2px;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.headerNav ul li {
  list-style: none;
  padding: 15px 40px 15px 0;
}
.headerNav ul li a {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFF;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.headerNav ul li a:hover, .headerNav ul li a:focus {
  border-bottom: 2px solid #FFD300;
}

nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

footer {
  background-color: #0F0F0F;
  text-align: center;
}
footer p {
  font-size: 1.4rem;
}

.blogHeader {
  background-image: url(../../assets/blog-header.jpg);
  background-position: center;
  background-size: fill;
}

.contactHeader {
  background-image: url(../../assets/contact-header.jpg);
  background-position: center;
  background-size: cover;
}

.overlayImgContainer {
  position: relative;
  width: 100%;
}

.overlayImg {
  position: absolute;
  top: -55vh;
  right: 0px;
}

.circle {
  height: 50px;
  min-width: 50px;
  background-color: #FFD300;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
}
.circle i {
  position: absolute;
  top: 10px;
  right: 5px;
}

i.fa-users {
  color: #0F0F0F;
}

i.fa-map-marker-alt {
  left: 14px;
  color: #0F0F0F;
}

i.fa-sticky-note {
  left: 14px;
  color: #0F0F0F;
}

i.fa-phone {
  left: 10px;
  color: #0F0F0F;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #FFFF;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 1px;
  color: #FFFF;
}

.aboutSectionContainer {
  background-color: #2B331B;
  height: 80vh;
}
.aboutSectionContainer ul {
  padding-top: 13%;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutSection li {
  width: 50%;
  padding: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foodSection {
  background-color: #171B0E;
}

.bestBurgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bestBurgersTxt {
  width: 40%;
  padding: 6.3% 10% 6.3% 0;
}

.leftImgContainer {
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  width: 40%;
  position: relative;
  bottom: 40px;
}

.trySomething {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trySomethingTxt {
  text-align: right;
  width: 40%;
  padding: 6.3% 0 6.3% 10%;
}

.rightImgContainer {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
  width: 40%;
  position: relative;
  top: 40px;
}

.yellowBtn {
  padding: 10px 10px;
  background-color: #FFD300;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 20px 0;
}

.blackBtn {
  padding: 10px 10px;
  background-color: #0F0F0F;
  color: #FFFF;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 20px 0;
}

.giftCardSection {
  background-color: #2B331B;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.natureSection {
  background-color: #2B331B;
  height: 53vh;
}

.natureSectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4%;
}

.natureImgContainer {
  width: 22%;
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
  position: relative;
  bottom: -25px;
}

.natureTxt {
  width: 70%;
  padding-left: 10%;
  padding-top: 1.3%;
}

.imgGallery {
  background-color: #171B0E;
  height: 60vh;
}

.imgGalleryContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  padding-top: 70px;
}

.imgGalleryContainer li {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.employmentOps {
  background-color: #2B331B;
}

h4 {
  color: #FFD300;
}

.commentsSection {
  background-color: #2B331B;
}

.feature {
  background-color: #2B331B;
}

.infoContainer {
  background-color: #2B331B;
}

i {
  color: #FFD300;
}

.submitBtn {
  padding: 10px 10px;
  background-color: #FFD300;
  color: #0F0F0F;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 20px 0;
}

img {
  width: 100%;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  color: #FFD300;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFFF;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}