html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: url(../../assets/home-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
@media (max-width: 1280px) {
  header {
    height: 60vh;
  }
}
@media (max-width: 835px) {
  header {
    height: 40vh;
  }
}
@media (max-width: 420px) {
  header {
    height: 30vh;
  }
}

h1 {
  color: #2B331B;
  font-family: "Josefin Sans", sans-serif;
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFF;
  width: 10%;
}
@media (max-width: 835px) {
  h1 {
    font-size: 4rem;
  }
}
@media (max-width: 420px) {
  h1 {
    font-size: 2.5rem;
  }
}

.titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 span {
  color: #171B0E;
  background-color: #FFFF;
  padding: 5px 2px;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.headerNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.headerNav ul li {
  list-style: none;
  padding: 15px 40px 15px 0;
}
.headerNav ul li a {
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  color: #FFFF;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.headerNav ul li a:hover, .headerNav ul li a:focus {
  border-bottom: 2px solid #FFD300;
}

nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

footer {
  background-color: #0F0F0F;
  text-align: center;
}
footer p {
  font-size: 1.4rem;
}

.blogHeader {
  background-image: url(../../assets/blog-header.jpg);
  background-position: right;
  background-size: fill;
  height: 73vh;
}
.blogHeader h1 {
  margin-top: 7%;
}
@media (max-width: 1280px) {
  .blogHeader {
    height: 60vh;
  }
}
@media (max-width: 835px) {
  .blogHeader {
    height: 40vh;
  }
}
@media (max-width: 420px) {
  .blogHeader {
    height: 30vh;
  }
}

.contactHeader {
  background-image: url(../../assets/contact-header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
}
.contactHeader h1 {
  width: 100%;
  margin-top: 10%;
}
@media (max-width: 1280px) {
  .contactHeader {
    height: 60vh;
  }
}
@media (max-width: 835px) {
  .contactHeader {
    height: 40vh;
  }
}
@media (max-width: 420px) {
  .contactHeader {
    height: 30vh;
  }
}

.overlayImgContainer {
  position: relative;
  width: 100%;
}

.overlayImg {
  position: absolute;
  top: -55vh;
  right: 0px;
}
@media (max-width: 1280px) {
  .overlayImg {
    width: 40%;
    top: -30vh;
  }
}
@media (max-width: 835px) {
  .overlayImg {
    top: -15vh;
    right: -41px;
  }
}
@media (max-width: 1150px) {
  .overlayImg {
    right: -56px;
  }
}
@media (max-width: 420px) {
  .overlayImg {
    top: -10vh;
  }
}

.circle {
  height: 50px;
  min-width: 50px;
  background-color: #FFD300;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
}
.circle i {
  position: absolute;
  top: 10px;
  right: 5px;
}

i.fa-users {
  color: #0F0F0F;
  left: 7px;
  top: 1px;
}
@media (max-width: 1280px) {
  i.fa-users {
    left: 7px;
    top: 2px;
  }
}

i.fa-map-marker-alt {
  left: 14px;
  top: 1px;
  color: #0F0F0F;
}
@media (max-width: 1280px) {
  i.fa-map-marker-alt {
    left: 13px;
    top: 2px;
  }
}

i.fa-sticky-note {
  left: 14px;
  top: 1px;
  color: #0F0F0F;
}
@media (max-width: 1280px) {
  i.fa-sticky-note {
    left: 13px;
    top: 2px;
  }
}

i.fa-phone {
  left: 10px;
  top: 1px;
  color: #0F0F0F;
}
@media (max-width: 1280px) {
  i.fa-phone {
    left: 10px;
    top: 2px;
  }
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  text-transform: uppercase;
  color: #FFFF;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 1px;
  color: #FFFF;
}

.aboutSectionContainer {
  background-color: #2B331B;
  height: 80vh;
}
@media (max-width: 1280px) {
  .aboutSectionContainer {
    height: 90vh;
  }
}
@media (max-width: 420px) {
  .aboutSectionContainer {
    height: auto;
  }
}
.aboutSectionContainer ul {
  padding-top: 13%;
}
@media (max-width: 420px) {
  .aboutSectionContainer ul {
    padding-bottom: 60px;
  }
}
@media (max-width: 1280px) {
  .aboutSectionContainer ul {
    padding-top: 18%;
  }
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.aboutSection li {
  width: 50%;
  padding: 20px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 420px) {
  .aboutSection li {
    width: 100%;
    padding: 10px 5px;
  }
}
@media (max-width: 420px) {
  .aboutSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutSection h2 {
    font-size: 2rem;
  }
  .aboutSection p {
    font-size: 1.4rem;
  }
}

.foodSection {
  background-color: #171B0E;
}

.bestBurgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 835px) {
  .bestBurgers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1150px) {
  .bestBurgers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bestBurgersTxt {
  width: 40%;
  padding: 6.3% 10% 6.3% 0;
}
@media (max-width: 1280px) {
  .bestBurgersTxt {
    padding: 0 10% 4% 0;
  }
  .bestBurgersTxt h2 {
    font-size: 3rem;
    margin-top: 2%;
  }
  .bestBurgersTxt p {
    font-size: 1.8rem;
  }
}
@media (max-width: 835px) {
  .bestBurgersTxt {
    width: 80%;
  }
}
@media (max-width: 1150px) {
  .bestBurgersTxt {
    width: 80%;
  }
}

.leftImgContainer {
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  width: 40%;
  position: relative;
  bottom: 40px;
}
@media (max-width: 835px) {
  .leftImgContainer {
    width: 80%;
  }
}
@media (max-width: 1150px) {
  .leftImgContainer {
    width: 80%;
  }
}

.trySomething {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1150px) {
  .trySomething {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.trySomethingTxt {
  text-align: right;
  width: 40%;
  padding: 6.3% 0 6.3% 10%;
}
@media (max-width: 1280px) {
  .trySomethingTxt {
    padding: 0 10% 2% 0;
  }
  .trySomethingTxt h2 {
    font-size: 3rem;
    margin-top: 2%;
  }
  .trySomethingTxt p {
    font-size: 1.8rem;
  }
}
@media (max-width: 835px) {
  .trySomethingTxt {
    width: 80%;
    margin-top: 10%;
    text-align: left;
  }
}
@media (max-width: 1150px) {
  .trySomethingTxt {
    width: 80%;
    padding-top: 8%;
    text-align: left;
  }
}

.rightImgContainer {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
  width: 40%;
  position: relative;
  top: 40px;
}
@media (max-width: 835px) {
  .rightImgContainer {
    width: 80%;
  }
}
@media (max-width: 1150px) {
  .rightImgContainer {
    width: 80%;
  }
}

.yellowBtn {
  padding: 10px 10px;
  background-color: #FFD300;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 20px 0;
}

.blackBtn {
  padding: 10px 10px;
  background-color: #0F0F0F;
  color: #FFFF;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 20px 0;
}

.giftCardSection {
  background-color: #2B331B;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 420px) {
  .giftCardSection h3 {
    font-size: 2rem;
  }
  .giftCardSection p {
    font-size: 1.4rem;
  }
}

.natureSection {
  background-color: #2B331B;
  height: 53vh;
}
@media (max-width: 835px) {
  .natureSection {
    height: auto;
  }
}

.natureSectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4%;
}
@media (max-width: 835px) {
  .natureSectionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.natureImgContainer {
  width: 22%;
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
  position: relative;
  bottom: -25px;
}
@media (max-width: 1280px) {
  .natureImgContainer {
    width: 27.8%;
  }
}
@media (max-width: 835px) {
  .natureImgContainer {
    width: 80%;
  }
}
@media (max-width: 1150px) {
  .natureImgContainer {
    height: 10%;
  }
}

.natureTxt {
  width: 70%;
  padding-left: 10%;
  padding-top: 1.3%;
}
@media (max-width: 1280px) {
  .natureTxt {
    padding-top: 0;
  }
}
@media (max-width: 420px) {
  .natureTxt {
    margin-top: 10%;
  }
  .natureTxt h3 {
    font-size: 2rem;
  }
  .natureTxt p {
    font-size: 1.4rem;
  }
}
@media (max-width: 835px) {
  .natureTxt {
    width: 100%;
    padding-top: 10%;
  }
}

.imgGallery {
  background-color: #171B0E;
  height: 60vh;
}
@media (max-width: 835px) {
  .imgGallery {
    height: auto;
  }
}

.imgGalleryContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  padding-top: 70px;
}
@media (max-width: 835px) {
  .imgGalleryContainer ul {
    padding-bottom: 10%;
  }
}

.imgGalleryContainer li {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.employmentOps {
  background-color: #2B331B;
}

h4 {
  color: #FFD300;
}

.commentsSection {
  background-color: #2B331B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80vh;
}
@media (max-width: 835px) {
  .commentsSection {
    height: auto;
  }
}

.blogContainer {
  background-color: #2B331B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 1280px) {
  .blogContainer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 835px) {
  .blogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.leftContainer {
  width: 30%;
  height: 20%;
  position: relative;
  top: 15vh;
  background-color: #171B0E;
}
@media (max-width: 1280px) {
  .leftContainer {
    left: 5%;
    width: 35%;
  }
}
@media (max-width: 835px) {
  .leftContainer {
    width: 80%;
    position: initial;
  }
}
.leftContainer li {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: #FFFF;
  margin-left: 5%;
}
.leftContainer ul h3 {
  margin-top: 15%;
  font-size: 3.2rem;
}

.featureTxt {
  padding: 8%;
}
.featureTxt h3 {
  margin-bottom: 3%;
  font-size: 3.2rem;
}

.featureImg {
  position: relative;
  top: -5vh;
  left: -3vw;
}

.rightContainer {
  width: 50%;
  position: relative;
  top: -15vh;
}
.rightContainer p {
  padding-top: 25px;
}
@media (max-width: 1280px) {
  .rightContainer {
    width: 55%;
    right: -3%;
  }
}
@media (max-width: 835px) {
  .rightContainer {
    width: 80%;
    position: initial;
    margin-top: 5%;
  }
}

.overlayImgContainer {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}
@media (max-width: 1280px) {
  .overlayImgContainer {
    width: 95%;
  }
}

.employmentOps {
  position: relative;
  left: -20px;
  top: 20px;
  border-left: 5px solid #FFD300;
  border-bottom: 5px solid #FFD300;
  padding: 10%;
}
.employmentOps h3 {
  margin-bottom: 3%;
}

.commentsContainer {
  width: 58%;
}
@media (max-width: 835px) {
  .commentsContainer {
    width: 90%;
    margin-top: 10%;
  }
}
@media (max-width: 1150px) {
  .commentsContainer {
    width: 90%;
    margin-top: 10%;
  }
}

.commentOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
}
@media (max-width: 420px) {
  .commentOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.commentTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 420px) {
  .commentTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.commentImgOne,
.commentImgTwo {
  width: 200px;
  margin-right: 50px;
}
@media (max-width: 1280px) {
  .commentImgOne,
.commentImgTwo {
    width: 12%;
  }
}
@media (max-width: 420px) {
  .commentImgOne,
.commentImgTwo {
    width: 40%;
    margin: 5% 0;
  }
}

.commentOneTxt,
.commentTwoTxt {
  width: 70%;
}
.commentOneTxt h4,
.commentTwoTxt h4 {
  color: #FFD300;
  margin-bottom: 2%;
}
@media (max-width: 420px) {
  .commentOneTxt,
.commentTwoTxt {
    width: 95%;
    text-align: center;
  }
}

main {
  background-color: #2B331B;
}
@media (max-width: 835px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.infoContainer {
  padding: 5.6%;
  padding-left: 16%;
}
.infoContainer .emailTxt {
  margin: 15px 0;
}
@media (max-width: 835px) {
  .infoContainer {
    padding: 0;
    padding-top: 8%;
  }
}
@media (max-width: 420px) {
  .infoContainer {
    padding-bottom: 2%;
  }
}

i {
  color: #FFD300;
  margin: 10px 0;
  margin-right: 15px;
}

.contactForm {
  position: absolute;
  bottom: 10%;
  right: 3%;
  background-color: #171B0E;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  padding: 0 5%;
  height: 50vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 835px) {
  .contactForm {
    position: initial;
    width: 100%;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.contactForm input {
  background-color: transparent;
  margin-top: 2%;
  width: 45%;
}
.contactForm textarea {
  background-color: transparent;
}

fieldset {
  background-color: #2B331B;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40vh;
}
@media (max-width: 1150px) {
  fieldset {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

form {
  width: 55%;
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  color: #FFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3%;
}
@media (max-width: 835px) {
  form {
    width: 80%;
    margin-top: 10%;
  }
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input {
  width: 45%;
  border: none;
  border-bottom: 2px solid #FFD300;
  background-color: #2B331B;
}

.name,
.email {
  padding: 20px;
  color: white;
}
@media (max-width: 420px) {
  .name,
.email {
    font-size: 1.6rem;
  }
}

textarea {
  color: #FFFF;
  padding: 15px;
  background-color: #2B331B;
  border: 2px solid #FFD300;
  margin-top: 2%;
}

.commentBtn,
.submitBtn {
  padding: 10px 10px;
  background-color: #FFD300;
  color: #0F0F0F;
  border: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 20px 0;
}

img {
  width: 100%;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  color: #FFD300;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFFF;
}

p {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}